.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.batch {
  flex: 1;
  width: 200px;
  margin: 30px;
  border: 2px solid #90addd;
  padding: 0;
}

.batch-header {
  background-color: #90addd;
  color: white;
  width: 100%;
  height: 60px;
  margin-top: 0;
  display: inline-block;
}

.batch-body {
  padding: 20px;
}

.batch-link {
  text-decoration: none;
  color: black;
}

.batch-title {
  text-align: left;
  margin-left: 40px;
  color: #4d4e4f;
  margin-top: 50px;
}
