.red-status{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: inline-block;
  margin-right: 5px;
  background-color: #c64c43;
}

.green-status {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: inline-block;
  margin-right: 5px;
  background-color: #92cc80
}

.yellow-status {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: inline-block;
  margin-right: 5px;
  background-color: #e8e568;
}

.history-title {
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 50px;
  text-align: left;
}

.history {
  text-align: left;
  margin-left: 50px;
}
