img {
  max-width: 100%;
  margin: auto;
}

.student-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;


}

.student {
  flex: 1;
  max-width: 220px;
  min-width: 220px;
  margin: 30px;
  border: 2px solid #90addd;
  padding: 0;

}


.percentage-bar {
  margin-bottom: 50px;
  margin-top: 150px;
  font-weight: bold;
  display: block;
  clear: both;
}

.percentage-green {
  height: 20px;
  background-color: #92cc80;
  display: inline-block;
  padding-top: 20px;
}

.percentage-yellow {
  height: 20px;
  background-color: #e8e568;
  display: inline-block;
  padding-top: 20px;

}

.percentage-red {
  height: 20px;
  background-color: #c64c43;
  display: inline-block;
  padding-top: 20px;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 12px;
  border: 1px solid grey;
  padding: 5px;
}

.link:hover {
  background-color: grey;
  color: white;
}

.evaluate-btn {
  text-decoration: none;
  color: #4d4e4f;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #90addd;
  padding: 20px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.evaluate-btn:hover {
  background-color: #90addd;
  color: white;
}

.grey{
  width: 100%;
  height: 40px;
  background-color: grey;
  margin-top: -5px;
  margin: auto;
  margin-bottom: 0;
}

.green {
  width: 100%;
  height: 40px;
  background-color: #92cc80;
  margin-top: -5px;
  margin: auto;
  margin-bottom: 0;
}

.yellow {
  width: 100%;
  height: 40px;
  background-color: #e8e568;
  margin-top: -5px;
  margin: auto;
  margin-bottom: 0;
}

.red {
  width: 100%;
  height: 40px;
  background-color: #c64c43;
  margin-top: -5px;
  margin: auto;
  margin-bottom: 0;
}


.links {
  background-color: #90addd;
  margin-bottom: -20px;
  height: 50px;
}

.remove-link {
  text-decoration: none;
  color: white;
  border: 2px solid #90addd;
  background-color: #90addd;
  font-size: 13px;
  float: right;
  margin-top: 15px;
  margin-right: 30px;
}

.view-link {
  display: inline-block;
  margin-top: 17px;
  text-decoration: none;
  color: white;
  font-size: 13px;
  float: left;
  margin-left: 40px;
}

.new-student-btn {
  margin-top: 50px;
  margin-bottom: 100px;
  text-decoration: none;
  color: #4d4e4f;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #90addd;
  padding: 20px;
  display: inline-block;
  margin: auto;
  float: left;
  margin-left: 40px;
}

.new-student-btn:hover {
  background-color: #90addd;
  color: white;
}

.new-student-btn:focus {
  outline:0;
}

.random-btn {
  margin-top: 50px;
  margin-bottom: 100px;
  text-decoration: none;
  color: #4d4e4f;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #90addd;
  padding: 20px;
  margin: auto;
  display: inline-block;
  margin-right: 10px;
  float: left;
  margin-left: 20px;
}

.random-btn:hover {
  background-color: #90addd;
  color: white;
}

.random-btn:focus {
  outline:0;
}
