img {
  max-width: 100px;
  margin: auto;
}

.student-list {
  display: flex;
  flex-wrap: wrap;

}

.student {
  flex: 1;
  border: 2px solid grey;
  width: 500px;
  height: 300px;
  padding: 20px;
  margin: 20px;
  text-align: center;
}



.percentage-bar {
  margin-bottom: 50px;
  font-weight: bold;

}

.percentage-green {
  height: 40px;
  background-color: green;
  display: inline-block;
  padding-top: 20px;
}

.percentage-yellow {
  height: 40px;
  background-color: yellow;
  display: inline-block;
  padding-top: 20px;
}

.percentage-red {
  height: 40px;
  background-color: red;
  display: inline-block;
  padding-top: 20px;
}
