img {
  max-width: 100px;
  margin: auto;
}

.student-list {
  display: flex;
  flex-wrap: wrap;

}

.student {
  flex: 1;
  border: 2px solid grey;
  width: 500px;
  height: 300px;
  padding: 20px;
  margin: 20px;
  text-align: center;
}



.percentage-bar {
  margin-bottom: 50px;
  font-weight: bold;

}

.percentage-green {
  height: 40px;
  background-color: green;
  display: inline-block;
  padding-top: 20px;
}

.percentage-yellow {
  height: 40px;
  background-color: yellow;
  display: inline-block;
  padding-top: 20px;

}

.percentage-red {
  height: 40px;
  background-color: red;
  display: inline-block;
  padding-top: 20px;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 12px;
  border: 1px solid grey;
  padding: 5px;
}

.link:hover {
  background-color: grey;
  color: white;
}

.evaluate-btn {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid grey;
  padding: 20px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.evaluate-btn:hover {
  background-color: grey;
  color: white;
}

.grey{
  width: 40px;
  height: 40px;
  background-color: grey;
  margin-top: -5px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 20px;
}
