img {
  max-width: 200px;
}

.flex-container {
  display: flex;
  justify-content: space-around;

}

.flex {
  flex: 1;
  border: 1px solid black;
}

.yellow {
  background-color: yellow;
}

.grey {
  background-color: lightgrey;
}



.red {
  background-color: red;
}



.percentage-green {
  height: 20px;
  background-color: green;
  display: inline-block;
}

.percentage-yellow {
  height: 20px;
  background-color: yellow;
  display: inline-block;
}

.percentage-red {
  height: 20px;
  background-color: red;
  display: inline-block;
}
