.info-container {
  display: flex;
}

.info-flex {
  flex: 1;
}

.student-title {
  margin-top: 50px;
}

.profile {
  max-width: 300px;
  display: block;
  border: 2px solid grey;
  margin-top: 30px;
  margin-bottom: 30px;
}

.update-student-btn {
  margin-top: 30px;
  margin-bottom: 50px;
  text-decoration: none;
  color: #4d4e4f;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #90addd;
  padding: 20px;
}

.update-student-btn:hover {
  background-color: #90addd;
  color: white;
}

.update-student-btn:focus {
  outline:0;
}
