img {
  max-width: 200px;
}

.flex-container {
  display: flex;
  justify-content: space-around;

}

.flex {
  flex: 1;
  border: 1px solid black;
}

.yellow {
  background-color: yellow;
}

.grey {
  background-color: lightgrey;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}
